In [11]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import datetime as dt
from webdriver_manager.chrome import ChromeDriverManager

In [12]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Driver [/Users/erikahoshino/.wdm/drivers/chromedriver/mac64/98.0.4758.80/chromedriver] found in cache

In [14]:
### NASA Mars News
url = 'https://redplanetscience.com/'
browser.visit(url)
browser.is_element_present_by_css('div.list_text', wait_time=0.5)
    
html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')
slide_element = news_soup.select_one('div.list_text')
slide_element.find('div', class_='content_title')

In [15]:
news_title = slide_element.find('div', class_='content_title').get_text()
news_paragraph = slide_element.find('div', class_='article_teaser_body').get_text()

print(news_title)
print(news_paragraph)

Robotic Toolkit Added to NASA's Mars 2020 Rover
The bit carousel, which lies at the heart of the rover's Sample Caching System, is now aboard NASA's newest rover.

In [19]:
### JPL Mars Space Images - Featured Image
url = 'https://spaceimages-mars.com/'
browser.visit(url)

full_image_button = browser.find_by_tag('button')[1]
full_image_button.click()

In [20]:
html = browser.html
image_soup = BeautifulSoup(html, 'html.parser')

img_url = image_soup.find('img', class_='headerimage fade-in').get('src')
img_url

'image/featured/mars1.jpg'

In [21]:
featured_img_url = f'https://spaceimages-mars.com/{img_url}'
featured_img_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [56]:
### Mars Facts
Mars_df = pd.read_html('https://galaxyfacts-mars.com')[0]
Mars_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [59]:
Mars_df.columns=["Properties", "Mars", "Earth"]
Mars_df

                Properties             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [60]:
Mars_df.set_index('Properties', inplace=True)
Mars_df

                                    Mars            Earth
Properties
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [61]:
Mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Properties</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [120]:
### Mars Hemispheres
url = 'https://marshemispheres.com/'
browser.visit(url)

In [121]:
hemisphere_img_url = []

for item in range(4):
    browser.links.find_by_partial_text('Hemisphere')[item].click()
    
    html = browser.html
    h_soup = BeautifulSoup(html, 'html.parser')
    
    title = h_soup.find('h2', class_='title').text
    img_url = h_soup.find('li').a.get('href')
    
    hemisphere = {}
    hemisphere['title'] = title
    hemisphere['img_url'] = f'https://marshemispheres.com/{img_url}'
    
    hemisphere_img_url.append(hemisphere)
    
    browser.back()

In [122]:
hemisphere_img_url

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [123]:
browser.quit()